# pandas e csv

## Resumo

Quase sempre quando formos "ler" um arquivo csv, vamos usar o pandas. É prático e bem eficiente.

## Funcionamento

Forma mais básica: (muitas vezes não usaremos a forma mais básica)
dataframe = pd.read_csv(arquivo_com_extensao)

- Vamos ler um arquivo real, com a Base de Dados de Vendas da Empresa "Contoso"

In [10]:
import pandas as pd
#se o arquivo não estiver na mesma pasta o python
#vendas_df = pd.read_csv(r'C:\Users\sival\Downloads\Pandas e csv\Contoso2 - Vendas - 2017.csv', sep=';')

#se estiver na mesma pasta
vendas_df = pd.read_csv('Contoso - Vendas - 2017.csv', sep=';')

vendas_df

,Numero da Venda,Data da Venda,Data do Envio,ID Canal,ID Loja,ID Produto,ID Promocao,ID Cliente,Quantidade Vendida,Quantidade Devolvida
0,1,01/01/2017,02/01/2017,1,86,981,2,6825,9,1
1,2,01/01/2017,06/01/2017,5,308,1586,2,18469,9,1
2,3,01/01/2017,01/01/2017,0,294,1444,5,19730,13,1
3,4,01/01/2017,01/01/2017,0,251,1468,5,29326,6,1
4,5,01/01/2017,07/01/2017,6,94,1106,2,22617,4,1
...,...,...,...,...,...,...,...,...,...,...
980637,980638,31/12/2017,31/12/2017,0,194,2490,4,10353,120,0
980638,980639,31/12/2017,06/01/2018,6,32,2488,4,31750,120,0
980639,980640,31/12/2017,03/01/2018,3,210,2511,10,12003,80,0
980640,980641,31/12/2017,31/12/2017,0,53,436,4,25550,39,0
980641,980642,31/12/2017,31/12/2017,0,309,2510,10,28707,80,0

In [9]:
vendas_df = pd.read_csv('Contoso - Cadastro Produtos.csv', sep=';')

#print(vendas_df)
vendas_df

,Nome da Marca,Tipo,Custo Unitario,Preco Unitario,ID Produto,Categoria
0,Contoso,Econômico,"10,69","20,96",873,Acessório para Computador
1,Contoso,Econômico,"6,63",13,879,Acessório para Computador
2,Contoso,Econômico,"6,63",13,880,Acessório para Computador
3,Contoso,Econômico,"6,63",13,881,Acessório para Computador
4,Contoso,Econômico,"6,63",13,882,Acessório para Computador
...,...,...,...,...,...,...
1685,Southridge Video,Regular,"82,77","179,99",1602,Filme DVD
1686,Southridge Video,Regular,"73,57","159,99",1606,Filme DVD
1687,Southridge Video,Regular,"82,77","179,99",1607,Filme DVD
1688,Southridge Video,Regular,"73,57","159,99",1611,Filme DVD
1689,Southridge Video,Regular,"82,77","179,99",1612,Filme DVD

In [13]:
#ler passando o caminho inteiro
vendas_df = pd.read_csv(r'C:\Users\sival\OneDrive\Área de Trabalho\codigo\Contoso - Cadastro Produtos.csv', sep=';')

#print(vendas_df)
vendas_df

,Nome da Marca,Tipo,Custo Unitario,Preco Unitario,ID Produto,Categoria
0,Contoso,Econômico,"10,69","20,96",873,Acessório para Computador
1,Contoso,Econômico,"6,63",13,879,Acessório para Computador
2,Contoso,Econômico,"6,63",13,880,Acessório para Computador
3,Contoso,Econômico,"6,63",13,881,Acessório para Computador
4,Contoso,Econômico,"6,63",13,882,Acessório para Computador
...,...,...,...,...,...,...
1685,Southridge Video,Regular,"82,77","179,99",1602,Filme DVD
1686,Southridge Video,Regular,"73,57","159,99",1606,Filme DVD
1687,Southridge Video,Regular,"82,77","179,99",1607,Filme DVD
1688,Southridge Video,Regular,"73,57","159,99",1611,Filme DVD
1689,Southridge Video,Regular,"82,77","179,99",1612,Filme DVD